<%= form_with(model: comment) do |f| %>
  <%= hidden_field_tag :article_id, article.id %>

  <div>
    <%= f.label :content, style: "display: block" %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit %>
    <%= link_to "Cancel", comment_path(comment, article_id: article.id) if comment.persisted? %>
  </div>
<% end %>