<%= form_with(model: comment) do |f| %>
  <%= hidden_field_tag :article_id, article.id %>
  <%= hidden_field_tag :parent_id, local_assigns[:parent]&.id %>
  <form>
  <div class="mb-3 col-3">
    <%= f.text_area :content, class: "form-control" %>
  </div>

    <%= f.submit "Create comment", class: "btn btn-secondary mb-3" %>

    <% target = local_assigns[:parent] || comment %>
    <% if target&.persisted?%>
      <%= link_to "Cancel", comment_path(target, article_id: article.id) %>
    <% end %>
  </form>
<% end %>