<% @articles.each do |article| %>
<article class="card my-3">
  <div class="card-body">
    <h4><%= article.title %></h4>

    <section class="card-text">
      <blockquote class="blockquote">
        <p class="m-2">
          <%= article.body %>
        </p>
      </blockquote>

      <figcaption class="blockquote-footer mb-2"><%= article.user.name %>

      <time datetime="<%= article.formatted_created_at %>">
        <%= article.formatted_created_at %>
      </time>
      </figcaption>
    </section>

    <%= link_to "Show", article_path(article), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_article_path(article), class: "btn btn-warning"%>
    <%= link_to "Delete", article_path(article), class: "btn btn-danger",
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
  </div>
</article>
<% end %>
