<h1 class="mb-4"> <%= @article.title %></h1>

<time datetime="<%= @article.formatted_created_at %>">
  <%= @article.formatted_created_at %>
</time>

<div class="lead my-3">
  <%= @article.content %>
</div>

<div clas="btn-group">
  <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning"%>
  <%= link_to "Delete", article_path(@article), class: "btn btn-danger",
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
<div>

<h3> Comments </h3>

<%= turbo_frame_tag dom_id(@article, :comments), src: comments_path(article_id: @article.id) %>